* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{

}
.board{
    width: 250px;
    height: 500px;
    border: 6px solid rgb(19, 87, 214);
    border-top: none;
}